<%- include('../partials/header.ejs') %>

<div id="signinForm">
   <div class="panel panel-primary">
      <div class="panel-heading">
         <h1 style="text-align:center">SIGN IN</h1>
      </div>

      <div class="panel-body">
         <div id="alertInfo"></div>
         <form>
            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon3">@</span>
               <input type="text" required autofocus autocomplete="off" name="username" placeholder="Username" class="form-control" aria-describedby="sizing-addon3">
            </div>
            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon3">
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
               </span>
               <input type="password" required name="password" placeholder="Password" class="form-control" aria-describedby="sizing-addon3">
            </div>
            <button id="SigninSubmitBtn" data-authenticating-text="Authenticating..." class="btn btn-primary" >Sign in</button>
         </form>
      </div>
      <div class="panel-footer">

         <p style="text-align:center"><a href="/signup">Sign up</a> if not account</p>
      </div>
   </div>
</div>

<!-- my script -->
<script src="./js/signin.js"></script>

<%- include('../partials/footer.ejs') %>
