<%- include('partials/header.ejs') %>

<div id="signupFormContainer">
   <div class="panel panel-primary">
      <!-- signup title -->
      <div class="panel-heading">
         <h1 style="text-align:center">SIGN UP</h1>
      </div>

      <div class="panel-body">
         <div id="alertInfo"></div>
         <form id="SignupForm">

            <!-- username -->
            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon3">
                  <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
               </span>
               <input type="text" id="signupUsername" required autofocus autoComplete="off" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
            </div>

            <!-- password -->
            <div class="input-group input-group-lg">
               <span class="input-group-addon" id="sizing-addon3">
                  <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>
               </span>
               <input type="password" id="signupPassword" required class="form-control" placeholder="Password" aria-describedby="sizing-addon3">
            </div>

            <!-- submit button -->
            <button id="SignupSubmitBtn" type="submit" data-authenticating-text="Checking..." class="btn btn-primary" >Sign up</button>
         </form>
      </div>
   </div>
</div>

<script src ="./js/signup.js"></script>
<%- include('partials/footer.ejs') %>
