<%- include('partials/header.ejs') %>
<div id="Signin">
   <h1>SIGNIN</h1>
   <form class="" action="/Signin" method="post">
      <div class="input-group input-group-lg">
         <span class="input-group-addon" id="sizing-addon3">@</span>
         <input type="text" class="form-control" placeholder="Username" aria-describedby="sizing-addon3">
      </div>

   </form>
   <p><a href="/signup">Sign up</a> if not account</p>
</div>

<%- include('partials/footer.ejs') %>
